@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/******** General ***********/
h1 {
    font-family: 'Shrikhand', sans-serif; 
    width: 100%;
    height: 36px; 
    margin: 0; 
    color: #101010;
    padding-left: 16px;
    padding-right: 19px;
    font-size: 30px;    
    font-weight: 400;
    word-wrap: break-word;
}
h2, h3 {
    font-family: 'Roboto', sans-serif;
}
.logo {    
    height: 44px;    
    padding-top: 14px;
    padding-bottom: 13px;
    display: flex;
    align-items: center; 
    justify-content: center;   
}

p {
    font-family: 'Roboto', serif;
}

:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
}

/************MOBILE FIRST***********/
body {
    width: 100%;
    height: 100%;
    margin: 0;    
}

footer {
    width: 100%;
    height: 142px;
    padding: 22px 25px 22px 25px;
    background-color: #353535;    
    display: flex;
    flex-direction: column;
    gap: 16px;
}
header {
    width: 100%;
    height: 113px;
    display: flex;
    flex-direction: column;          
}
.log {
    width: 100%;
    height: 63px;
    margin-bottom: 3px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
}
main {
    width: 100%;
    height: 100%;  
}
.book {
    width: 100%;    
    background-color: #f6f6f6;
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;       
}
.book h2 {    
    font-size: 24px;
    font-weight: 700;
    color: black;
    display: block;
    width: 100%;
    height: 68px;
    text-align: center;
    margin: 0;          
}
.functioning h2 {
    width: 100%;
    height: 31px;
    margin: 0;   
}
main h3 {
    width: 100%;
    height: 46px;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    color: #353535;
    text-align: center;      
}
header h3 {
    width: 100%;
    height: 19px;
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    margin: 0;    
}
.fa-location-dot {
   
}
.btn-explore {
    width: 65%;
    height: 50px;   
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-color: transparent;
    cursor: pointer;
    background: linear-gradient(194deg, #9356DC 0%, #FF79DA 100%);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);        
    display: flex;
    align-items: center;
    justify-content: center;      
}
a {
    text-decoration: none;
}
.taste {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 57px;
}
.btn-choice, .btn-compose, .btn-taste {
    width: 90%;
    height: 72.4px; 
    padding: 0;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
    border-radius: 20px;
    border-color: transparent;
    cursor: pointer; 
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn-group {    
    width: 100%;
    height: 19px;
    color: black;
    font-size: 16px;    
    font-weight: 500;    
}    
.btn-choice {  
    position: relative;  
    z-index: 1;
}
.btn-choice h3, .btn-compose h3, .btn-taste h3 {
    width: 100%;
    height: 19px;
    color: black;
    font-size: 16px;    
    font-weight: 500;
    text-align: start;    
}
.fa-mobile-screen-button { 
    width: 13.02px;
    height: 19.9px;   
    font-size: 19.9px;    
    color: #7e7e7e;  
    padding-right: 27px;   
}
.fa-list-ul {
    width: 16px;
    height: 15.92px;   
    font-size: 19.9px;    
    color: #7e7e7e;
    padding-right: 23px;   
}
.fa-store {
    width: 18px;
    height: 17.91px;   
    font-size: 18px;    
    color: #9356DC; 
    padding-right: 20px;    
}
.btn-compose {      
    margin-top: 24.92px;
    margin-bottom: 24.94px;
    position: relative;
    z-index: 1;
}
.btn-taste {      
    margin-bottom: 68px;
    position: relative;
    z-index: 1;
}
.loc {
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
}
.location {    
    height: 50px;       
    display: flex;    
    align-items: center; 
    justify-content: center;  
    gap: 17px; 
}
.elipse1 {
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 26.86px;
    left: -12.51px;    
    z-index: 2;
}
.elipse2 {
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 26.86px;
    left: -12.51px; 
    z-index: 2;
}
.elipse3 {
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 26.86px;
    left: -12.51px; 
    z-index: 2;
}
.number {
    font-size: 14.18px;
    font-weight: 500;
    color: white;
    display: flex;      
}
.functioning {
    width: 100%;
    height: 440px; 
    display: flex;
    flex-direction: column;    
    padding-top: 48px; 
    padding-left: 20px;
    padding-right: 20px; 
    gap: 26px;
}
.resto {
    width: 100%;
    height: 1460px;
    background-color: #f6f6f6;    
    display: flex;
    flex-direction: column;
    gap: 75px;
}
.card {
    width: 100%;
    height: 251px;
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;     
}
.card img {
    width: 100%;
    height: 231px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;    
}
.card h3 {
    height: 21px;
    font-weight: 700;    
    text-align: start;
}
.card p {    
    color: black;
    font-size: 17px;
    font-family: Roboto;
    font-weight: 300;    
    margin: 0;
}
.fa-heart {
    width: 22px;
    height: 21px;
    font-size: 22px;
    color: #101010;    
}
.resto h2 {
    width: 100%;
    height: 68px;
    margin: 0;    
}
#new {  
    width: 61.37px;
    height: 16px; 
    font-size: 14px;
    font-weight: 500;
    color: #008766;
    background-color: #99E2D0;    
    padding: 7px 9.63px 6px 9px;
    border-radius: 2px;  
    position: absolute;
    right: 15px;
    top: 975px;  
}
.resto-card {
    display: flex;
    flex-direction: column;
    gap: 75px;
}

footer h3 {
    font-family: 'Shrikhand', sans-serif;
    color: white;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}
footer li {
    color: white;    
    font-family: Roboto;
    font-weight: 500;
    word-wrap: break-word
}
footer ul {
    width: 100%;
    height: 99px;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
footer a {
    color: white;
}
.fa-utensils {
    font-size: 13px;
    margin-right: 11px;
}
.fa-handshake-angle {
    width: 11.92px;
    height: 13px;
    font-size: 13px;
    margin-right: 10.08px;
}
.banner img {
    width: 100%;
    height: 275px;
}
.banner {
    width: 100%;
    position: absolute;
    top: 62px;
}
.menu {
    width: 100%;
    height: 1307px;    
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    display: flex;
    gap: 40px;
}
.fa-arrow-left {
    color: #353535;
    width: 30px;
    height: 30px;
    font-size: 20px;        
    text-align: center;    
}
.btn-food {
    width: 100%;
    height: 72px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    border: 0;
    display: flex;
    flex-direction: row;
    position: relative;
}
.titre-page {
    width: 100%;
    height: 27px;    
}
.titre-page .fa-heart {    
    font-size: 22px;
} 
.titre-page h2 { 
    width: 100%;
    height: 41px;   
    color: #101010;
    font-size: 28px;
    font-family: Shrikhand;
    font-weight: 400; 
    margin: 0;
}
.starter {
    width: 100%;
    height: 270px;    
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.starter h2, .plat h2, .dessert h2 {
    margin: 0;    
    color: black;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    word-wrap: break-word
}
.buttonStarter {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.flat {
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    position: relative;
}
#name-flat {
    width: 100%;
    height: 21px;    
    color: black;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 550;
    text-align: start;
    top: 0;
    left: 0;
    right: 0;    
}
.flat h4 {
    width: 100%;
    height: 19px;     
    color: black;
    font-size: 15.04px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin: 0;
    text-align: start;    
}
.price {
    width: 100%;
    height: 18px;    
    color: #353535;
    font-size: 15.04px;
    font-family: Roboto;
    font-weight: 700;    
    display: flex;
    align-items: center;   
    gap: 5px;
}
.plat {
    width: 100%;
    height: 270px;    
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.dessert {
    width: 100%;
    height: 270px;    
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.btn-cmd {
    width: 65%;
    height: 50px;   
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 300;
    border-color: transparent;
    cursor: pointer;
    background-color: var(--primary-color);        
    display: flex;
    align-items: center;
    justify-content: center;        
}


/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) { 
    
}
   
/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {

}