.flat1{	  
	@include deflat;   /* transform-origin: left; Déplace l'origine à gauche */   
	animation: flat-display 400ms 100ms both; /** both : permet de figer le plat à la fin de l'animation **/
}
.flat2{
	@include deflat;	
	animation: flat-display 500ms 600ms both;
}
.flat3{
	@include deflat;        
	animation: flat-display 500ms 1200ms both;
}
.flat4{
	@include deflat;        
	animation: flat-display 500ms 1800ms both;
}
.flat5{
	@include deflat;       
	animation: flat-display 500ms 2400ms both;
}
.flat6{
	@include deflat;        
	animation: flat-display 500ms 3000ms both;
}
.flat7{
	@include deflat;        
	animation: flat-display 500ms 3600ms both;
}
.flat8{
	@include deflat;        
	animation: flat-display 500ms 4200ms both;
}
.flat9{
	@include deflat;       
	animation: flat-display 500ms 4800ms both;
}
.flat10{
	@include deflat;        
	animation: flat-display 500ms 5400ms both;
}

@keyframes flat-display{
	0% {
		transform: scaleX(0);
		opacity: 0.1;            
	}
	17% {
		transform: scaleX(.5);
		opacity: 0.3;
		animation-timing-function: cubic-bezier(.72,.42,.3,.89);
	}
	24% {
		transform: scaleX(.7);
		opacity: 0.5;
		animation-timing-function: cubic-bezier(.9,0,.1,1);
	}
	46% {
		transform: scaleX(.85);
		opacity: 0.8;
		animation-timing-function: cubic-bezier(1,0.25,0.25,1);
	}
	85%,100% {
		opacity: 1;
	}
	100% {
		transform: scaleX(1);
	}
}