/* @import 'variables';
@import '_mixins.scss';
@import '_general.scss'; */

/********************************************************************************************************************/
/********************************************GENERAL*****************************************************************/

/**Variables**/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

/**Mixins**/
@mixin btnExpCmd {
	height: 50px;
	border-radius: 25px;
	color: white;	
	border-color: transparent;
	cursor: pointer;
	background: linear-gradient(194deg, $primary-color 0%, $secondary-color 100%);
	box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
}
main {
	width: 100%;
	h3 {
		width: 100%;
		height: 46px;
		margin: 0;
		font-size: 18px;
		font-weight: 300;
		color: #353535;
		text-align: center;
	}
}
h1 {
	font-family: 'Shrikhand', sans-serif;
	width: 100%;
	height: 36px;
	margin: 0;
	color: #101010;
	padding-left: 16px;
	padding-right: 19px;
	font-size: 30px;
	font-weight: 400;
	word-wrap: break-word;
}
h2, h3 {
	font-family: 'Roboto', sans-serif;
}
p {
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
}

/*****************************************************************************************************************/
/***********************************************LOADER************************************************************/

.header-index, .main-index, .footer-index {
	opacity: 0;
	animation: homepage 4s both;
}
.header-index {
	position: absolute;
	top: 0;
}
.main-index {
	position: absolute;
	top: 115px;
}
.footer-index {
	position: absolute;
	top: 2140px;
}

.loader {
	width: 100%;
	height: 2325px;
	background-color: black;
	position: relative;
	display: flex;
	align-items: end;
	justify-content: center;
	animation: load 4s both;
	opacity: 1;
	&__bar {
		width: 90%;
		height: 15px;
		background-color: $tertiary-color;
		display: flex;
		align-items: end;
		margin-left: 35px;
		position: absolute;
		top: 400px;
		left: -30px;
		padding-left: 50px;
	}
	img {
		width: 50%;
		display: flex;
		align-items: start;
		justify-content: start;
		position: absolute;
		left: -35px;
		animation: moveServer 4s linear both;
	}
	&__word {
		width: 30%;
		padding-left: 10px;
		display: flex;
		flex-direction: row;
		gap: 2px;
		position: absolute;
		top: 350px;
		left: 0;
	}
	h1 {
		width: 40%;
		padding-left: 0;
		padding-right: 0;
		color: transparent;
		font-size: 20px;
		opacity: 0;
		animation: flash 1s linear infinite;
        &:nth-child(1) {
            animation-delay: 0s;
            opacity: 1;
        }
        &:nth-child(2) {
            animation-delay: 0.4s;
            opacity: 1;
        }
        &:nth-child(3) {
            animation-delay: 0.5s;
            opacity: 1;
        }
        &:nth-child(4) {
            animation-delay: 0.8s;
            opacity: 1;
        }
        &:nth-child(5) {
            animation-delay: 1.2s;
            opacity: 1;
        }
        &:nth-child(6) {
            animation-delay: 1.4s;
            opacity: 1;
        }
        &:nth-child(7) {
            animation-delay: 1.6s;
            opacity: 1;
        }
        &:nth-child(8) {
            animation-delay: 1.8s;
            opacity: 1;
        }
        &:nth-child(9) {
            animation-delay: 1.9s;
            opacity: 1;
        }
        &:nth-child(10) {
            animation-delay: 2s;
            opacity: 1;
        }
        &:nth-child(11) {
            animation-delay: 2.1s;
            opacity: 1;
        }		
	}
}

@keyframes flash {
    0% {
        color: white;
        text-shadow: 0 0 7px white;        
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: white;
        text-shadow: 0 0 7px white;        
    }
}

@keyframes moveServer {
    0% {
        transform: translateX(0);
        animation-timing-function: cubic-bezier(.59,.44,.6,.43);        
    }
    
    24% {
        transform: translateX(30%);
        animation-timing-function: cubic-bezier(.59,.44,.6,.43);
    }
    46% {
        transform: translateX(60%);
        animation-timing-function: cubic-bezier(.59,.44,.6,.43);
    }
    85%, 100% {
        opacity: 1;
    }
        
   100% {
        transform: translateX(100%);           
   }
   }

@keyframes load {
    0% {
        opacity: 1;
        
    }
    20% {
        opacity: 1;
        
    }
    40% {
        opacity: 1;
        
    }
    60% {
        opacity: 1;
        
    }
    80% {
        opacity: 1;
        
    }
    100% {
        opacity: 0;        
    }    
}

@keyframes homepage {
    0% {
        opacity: 0;       
    }
    20% {
        opacity: 0;        
    }
    40% {
        opacity: 0;        
    }
    60% {
        opacity: 0;        
    }
    80% {
        opacity: 0;        
    }
    100% {
        opacity: 1;                 
    }    
}

/**********************************************************************************************************************/
/***************************************************HEADER*************************************************************/

header {
	width: 99%;
	display: flex;
	flex-direction: column;
	h3 {
		width: 100%;
		height: 19px;
		font-size: 16px;
		font-weight: 500;
		color: #353535;
		margin: 0;
	}
	.log {
		width: 100%;
		height: 63px;
		margin-bottom: 3px;
		box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
		display: flex;
		justify-content: center;
		align-items: center;
		&__logo {
			height: 44px;
			padding-top: 14px;
			padding-bottom: 13px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 42px;
		}
	}
	.loc {
		width: 100%;
		height: 50px;
		background-color: #EAEAEA;
		display: flex;
		justify-content: center;
		&__location {
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 17px;
		}
	}
}

/****************************************************************************************************************/
/***************************************************MAIN******************************************************/
/*********************************************section book*************************************************/

main .book {
	width: 100%;
	background-color: #f6f6f6;
	padding-top: 39px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	h2 {
		font-size: 24px;
		font-weight: 700;
		color: black;
		display: block;
		width: 100%;
		height: 68px;
		text-align: center;
		margin: 0;
	}
}
main .taste {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 27px;
	padding-bottom: 57px;
}
main .btn-explore {
	@include btnExpCmd;
	width: 65%;	
	font-size: 16px;
	font-weight: 500;	
	&:hover::after {
		opacity: 1;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-color: transparent;
		background: linear-gradient(231deg, $primary-color 0%, $secondary-color 100%);
		transition: opacity 250ms, box-shadow 400ms ease-in-out;
		border-radius: 25px;
		opacity: 0;
		z-index: -1;
		box-shadow: 0px 4px 15px rgba(0,0,0,0.35);
	}
}

/*********************************************section fonctionnement****************************************/

.functioning {
	width: 100%;
	height: 390px;
	display: flex;
	flex-direction: column;
	padding-top: 48px;
	padding-left: 20px;
	padding-right: 20px;
	gap: 26px;
	h2 {
		width: 100%;
		height: 31px;
		margin: 0;
	}
}
.btn {
	width: 90%;
	height: 72.4px;
	padding: 0;
	background-color: #f6f6f6;
	box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
	border-radius: 20px;
	border-color: transparent;
	position: relative;
	z-index: 1;
	&__content {
		width: 100%;
		height: 19px;
		color: black;
		font-size: 16px;
		font-weight: 500;
		position: absolute;
		left: -15px;
		top: 21px;
	}
	&--choice {
		padding-left: 33.47px;
		position: relative;
		z-index: 1;
	}
	&--compose {
		margin-top: 24.92px;
		margin-bottom: 24.94px;
		padding-left: 34.49px;
	}
	&--taste {
		margin-bottom: 68px;
		padding-left: 35.49px;
	}
}
.fa-mobile-screen-button {
	width: 13.02px;
	height: 19.9px;
	font-size: 19.9px;
	color: #7e7e7e;
	padding-right: 27px;
}
.fa-list-ul {
	width: 16px;
	height: 15.92px;
	font-size: 19.9px;
	color: #7e7e7e;
	padding-right: 23px;
	margin-left: -15px;
}
.fa-store {
	width: 18px;
	height: 17.91px;
	font-size: 18px;
	color: $primary-color;
	padding-right: 20px;
	margin-left: -10px;
}
.elipse {
	width: 24px;
	height: 24px;
	background-color: var($primary-color);
	border-radius: 9999px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 24px;
	left: -12.51px;
	z-index: 2;
}
.number {
	font-size: 14.18px;
	font-weight: 500;
	color: white;
	display: flex;
}

/*******************************************section restaurants***************************************************/

.resto {
	width: 95%;
	padding-left: 17px;
	padding-right: 18px;
	background-color: #f6f6f6;
	display: flex;
	flex-direction: column;
	h2 {
		width: 100%;
		height: 68px;
		margin-top: 54px;
		margin-bottom: -20px;
	}
	&__cardGroup--restoCard {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 18px;
	}
	&__cardGroup {
		display: flex;
		flex-direction: column;
		gap: 18px;
		margin-bottom: 66px;
	}
}
.card {
	width: 96%;
	height: 251px;
	border-radius: 15px;
	background-color: #ffffff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.10);
	display: flex;
	flex-direction: column;
	position: relative;
	&__divImg {
		width: 100%;
		height: 231px;
		position: relative;
	}
	img {
		width: 100%;
		height: 174px;
		border-radius: 15px 15px 0 0;
		object-fit: cover;
	}
	&__info {
		width: 100%;
		height: 77px;
		color: black;
		padding-left: 13px;
		padding-top: 16px;
		padding-bottom: 12px;
	}
	h3 {
		height: 21px;
		font-weight: 700;
		text-align: start;
		padding-bottom: 5px;
	}
	p {
		font-size: 17px;
		font-family: Roboto, sans-serif;
		font-weight: 300;
		margin: 0;
		padding-bottom: 12px;
	}
}
.newGreen {
	width: 93%;
	height: 29px;
	display: flex;
	justify-content: end;
	position: relative;
	top: -245px;
	right: 2px;
	margin-top: -6px;
	p {
		width: 61.37px;
		height: 13px;
		font-size: 14px;
		font-weight: 500;
		background-color: $tertiary-color;
		color: #008766;
		border-radius: 2px;
		padding: 7px 9.63px 6px 9px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

/**********************animation like accueil*********************************/
.heart {
	width: 90%;
	display: flex;
	justify-content: end;
	position: relative;
	right: 15px;
	background-color: white;
	cursor: pointer;
	&--heartA {
		top: -30px;
	}
	&--heartB {
		top: -5px;
	}
	&__bg {
		color: transparent;
		background: linear-gradient(194deg, $primary-color 0%, $secondary-color 100%);
		-webkit-background-clip: text;
		opacity: 0;
		transform: scaleX(0);
		transition: opacity 250ms;
		transition: transform 700ms ease-in-out;
	}
	&__noBg {
		color: #101010;
	}
	&:active .heart__bg {
		opacity: 1;
		transform: scaleX(1);
	}
}
.fa-heart {
	width: 22px;
	height: 21px;
	font-size: 22px;
	position: absolute;
	bottom: 45px;
	right: -10px;
}


/**********************animation like page restaurant*********************************/
.menu .fa-heart {
	position: absolute;
	top: -35px;
	right: 7px;
}

/*********************************************************************************************************/
/******************************************FOOTER*****************************************************/

footer {
	width: 100%;
	height: 142px;
	padding: 22px 25px 22px 25px;
	background-color: #353535;
	display: flex;
	flex-direction: column;
	gap: 16px;
	h3 {
		font-family: 'Shrikhand', sans-serif;
		color: white;
		margin: 0;
		font-size: 18px;
		font-weight: 400;
	}
	li {
		color: white;
		font-family: Roboto;
		font-weight: 500;
		word-wrap: break-word;
	}
	ul {
		width: 100%;
		height: 99px;
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 7px;
	}
	a {
		color: white;
	}
}
.fa-utensils {
	font-size: 13px;
	margin-right: 11px;
}
.fa-handshake-angle {
	width: 11.92px;
	height: 13px;
	font-size: 13px;
	margin-right: 10.08px;
}

/***********************************************************************************************************/
/****************************** STYLE PAGE DE RESTAURANT ************************************/

.log__arrow {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 17px;
	left: 17px;
	a {
		color: #353535;
		width: 30px;
		font-size: 20px;
		text-align: center;
	}
}
.banner {
	width: 100%;
	margin-top: -3px;
	img {
		width: 99%;
		height: 275px;
		object-fit: cover;
	}
}
.menu {
	width: 95%;
	background-color: #f6f6f6;
	border-radius: 40px 40px 0 0;
	padding: 32px 13px 0 13px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	position: relative;
	margin-top: -55px;
	&__titrePage {
		width: 100%;
		padding-left: 4px;
		padding-right: 4px;
		h2 {
			width: 80%;
			height: 27px;
			color: #101010;
			font-size: 28px;
			font-family: Shrikhand;
			font-weight: 400;
			margin: 0;
		}
	}
}


.heartC {
	top: 35px;
}

.starter {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
	&__titreStarter {
		width: 275px;
		height: 27px;
	}
	&__borderGreen {
		width: 40px;
		height: 0px;
		border-bottom: 3px $tertiary-color solid;
		margin-top: -12px;
	}
	&__buttonStarter {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
}
.starter h2, .plat h2, .dessert h2 {
	margin: 0;
	color: black;
	font-size: 16px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	word-wrap: break-word;
}
.cmd {
	width: 99%;
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
	background-color: #f6f6f6;
	&__btnCmd {
		@include btnExpCmd;
		width: 53.6%;	
		font-size: 18px;
		font-weight: 300;		
		&:hover::after {
			opacity: 1;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-color: transparent;
			background: linear-gradient(231deg, $primary-color 0%, $secondary-color 100%);
			box-shadow: 0px 4px 15px rgba(0,0,0,0.35);
			border-radius: 25px;
			opacity: 0;
			z-index: -1;
			transition: opacity 250ms;
		}
	}
}



/*****************COCHE VERTE QUAND LE PLAT EST SELECTIONNE***********************/

.btn-food {
	width: 90%;
	height: 42px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	background-color: white;
	border-radius: 15px;
	border: 0;
	cursor: pointer;
	box-shadow: 0px 4.011494159698486px 15.043103218078613px rgba(0, 0, 0, 0.10);
	position: relative;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	>i {
		width: 20px;
		height: 20px;
		background-color: white;
		color: $tertiary-color;
		font-size: 20px;
		border-radius: 20px;
		opacity: 0;
		transition: 1s;
		transform: rotate(90deg);
	}
	&:active .flat {
		width: calc(100% - 59px - 40px);
	}
	&:active .price {
		width: 94px;
	}
	&:active .check {
		width: 59px;
		.fa-circle-check {
			opacity: 1;
			transform: rotate(360deg);
		}
	}
}
.flat {
	width: calc(100% - 50px);
	height: 42px;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	transition: 1s;
	p {
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0;
		text-align: start;
	}
	&__titlePlat {
		width: 100%;
		height: 21px;
		color: black;
		font-size: 18px;
		font-family: Roboto, sans-serif;
		font-weight: 550;
		text-align: start;
		top: 0;
		left: 0;
		right: 0;
	}
	&__contentPlat {
		width: 100%;
		height: 19px;
		color: black;
		font-size: 15.04px;
		font-family: Roboto, sans-serif;
		font-weight: 300;
		margin: 0;
		text-align: start;
	}
}
.price {
	width: 50px;
	height: 42px;
	color: #353535;
	font-size: 15.04px;
	font-family: Roboto;
	font-weight: 700;
	display: flex;
	align-items: end;
	gap: 5px;
	position: absolute;
	right: 0;
	transition: 1s;
	p {
		margin: 0;
	}
}
.check {
	width: 0;
	height: 72px;
	border-radius: 0 15px 15px 0;
	display: flex;
	color: white;
	background-color: $tertiary-color;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 0;
	transition: 1s;
	>i {
		width: 20px;
		height: 20px;
		background-color: white;
		color: $tertiary-color;
		font-size: 20px;
		border-radius: 20px;
		opacity: 0;
		transition: 1s;
		transform: rotate(90deg);
	}
}

/*******************APPARITION DES PLATS UN PAR UN*************************/
/*******************AU CHARGEMENT DE LA PAGE*******************************/

.flat1{
	transform-origin: left;  /*Place l’origine à gauche*/
	transform: scaleX(0);	        
	animation: flat-display 400ms 100ms both; /** both : permet de figer le plat à la fin de l'animation **/
}
.flat2{
	transform-origin: left;  
	transform: scaleX(0);	
	animation: flat-display 500ms 600ms both;
}
.flat3{
	transform-origin: left;  
	transform: scaleX(0);        
	animation: flat-display 500ms 1200ms both;
}
.flat4{
	transform-origin: left;  
	transform: scaleX(0);        
	animation: flat-display 500ms 1800ms both;
}
.flat5{
	transform-origin: left;  
	transform: scaleX(0);        
	animation: flat-display 500ms 2400ms both;
}
.flat6{
	transform-origin: left;  
	transform: scaleX(0);        
	animation: flat-display 500ms 3000ms both;
}
.flat7{
	transform-origin: left;  
	transform: scaleX(0);        
	animation: flat-display 500ms 3600ms both;
}
.flat8{
	transform-origin: left;  
	transform: scaleX(0);        
	animation: flat-display 500ms 4200ms both;
}
.flat9{
	transform-origin: left;  
	transform: scaleX(0);       
	animation: flat-display 500ms 4800ms both;
}
.flat10{
	transform-origin: left;  
	transform: scaleX(0);        
	animation: flat-display 500ms 5400ms both;
}

@keyframes flat-display{
	0% {
		transform: scaleX(0);
		opacity: 0.1;            
	}
	17% {
		transform: scaleX(.5);
		opacity: 0.3;
		animation-timing-function: cubic-bezier(.72,.42,.3,.89);
	}
	24% {
		transform: scaleX(.7);
		opacity: 0.5;
		animation-timing-function: cubic-bezier(.9,0,.1,1);
	}
	46% {
		transform: scaleX(.85);
		opacity: 0.8;
		animation-timing-function: cubic-bezier(.25,0.25,1);
	}
	85%,100% {
		opacity: 1;
	}
	100% {
		transform: scaleX(1);
	}
}

/********************************************************************************************************/
/********************************************************************************************************/